<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="navbar" style="background: #494B68; border-radius: 3px;">
  <div class="navbar-brand">
    <a class="navbar-item" style="color: white">
      <b>Investing Simulator</b>
    </a>
  </div>
  <span type="button" class="navbar-right btn-outline-light material-icons md-30 center" style="width:30px;height:25px;"
        data-toggle="tooltip" data-placement="bottom" title="Logout" (click)="logout()"> exit_to_app </span>
</div>
