<h3>Create your account</h3>

<br>

<div class="alert {{alertType}} alert-dismissible fade" role="alert">
    {{alertText}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="d-flex justify-content-center">

    <div class="row">
        <form>
            <div class="form-group" >
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                       [value]="email" (input)="email = $event.target.value;">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName"
                       [value]="firstName" (input)="firstName = $event.target.value;">
            </div>
            <div class="form-group">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName"
                       [value]="lastName" (input)="lastName = $event.target.value;">
            </div>
            <div class="form-group">
                <label for="newPassword">Password</label>
                <input type="password" class="form-control" id="newPassword" aria-describedby="passwordHelp"
                       [value]="password1" (input)="password1 = $event.target.value;">
                <small id="passwordHelp" class="form-text text-muted">Your password must be 8-20 characters long.</small>
            </div>
            <div class="form-group">
                <label for="inputLastName">Repeat password</label>
                <input type="password" class="form-control"
                       [value]="password2" (input)="password2 = $event.target.value;">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit($event, email,firstName,lastName, password1, password2)">Create account</button>
        </form>
    </div>
</div>

<br><br>

<nav>
    <ul>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
</nav>
