<ul class="list-group">
  <li class="list-group-item list-active list-group-item-action title">
    <div class="row">
      <div class="col-sm-9">
        Portfolios
      </div>

      <div class="col-sm-3">
        <i type="button" class="material-icons md-15 btn btn-sm btn-outline-light" data-toggle="modal"
           data-target="#addPortfolioModal">add</i>
      </div>

    </div>
  </li>

  <div [ngClass]="{
    'scroll' : allPortfolios.length>7,
    '' : allPortfolios.length<=7
  }" *ngIf="allPortfolios.length>0">
    <div *ngFor="let portfolio of allPortfolios">

      <li class="list-group-item list-group-item-action">
        <div class="row" type="button">

          <div class="col-md-12 text" (click)="goToPortfolio(portfolio.id)">
            {{portfolio.name}}
          </div>
        </div>

        <div class="row" type="button">
          <div class="col-md-5" (click)="goToPortfolio(portfolio.id)">
            ${{formatNumbers(roundNumbers(portfolio.current_portfolio_value))}}
          </div>

          <div class="col-md-4 center" [ngClass]="{
              'positive' : roundNumbers((portfolio.current_portfolio_value / portfolio.initialInvestment - 1) * 100)>0,
              'negative' : roundNumbers((portfolio.current_portfolio_value / portfolio.initialInvestment - 1) * 100)<0}">
            <b>{{roundNumbers((portfolio.current_portfolio_value / portfolio.initialInvestment - 1) * 100)}}%</b>
          </div>

          <div class="col-md-3">
              <span type="button"  class="btn btn-sm btn-danger material-icons md-20 center" style="width:30px;height:25px;"
                    data-toggle="modal" data-target="#deletePortfolioModal" (click)="setPortfolioToDelete(portfolio)"> delete </span>
          </div>
        </div>
      </li>


    </div>
  </div>
  <div class="row" *ngIf="allPortfolios.length==0">
    <p><i>There are no portfolios yet. Create one by pressing 'add' button above. </i></p>
  </div>
</ul>

<!-- Add portfolio Modal -->
<div class="modal fade" id="addPortfolioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form class="container" ngNativeValidate
            (submit)="onCreateNewPortfolio($event, name.value, initialInvestment.value); name.value=''; initialInvestment.value='10000'">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new portfolio</h5>
          <button type="button" class="close" data-dismiss="modal" id="closeModalButton" aria-label="Close"
                  (click)="onModalClosed()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div
            class="alert {{this.createPortfolioAlertType}} alert-dismissible collapse {{this.createPortfolioAlertHideShow}}"
            role="alert">
            {{this.createPortfolioAlertText}}
            <button type="button" class="close" aria-label="Close" (click)="this.createPortfolioAlertHideShow='fade'">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-group">
            <label for="inputName">Portfolio name</label>
            <input #name type="text" class="form-control" id="inputName" required>
          </div>

          <label for="inputAmount">Initial investment</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input #initialInvestment type="number" min="1000" class="form-control" id="inputAmount"
                   value="10000" aria-label="Amount (to the nearest dollar)" required>
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="spinner-border text-primary {{this.spinnerFadeShow}}" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onModalClosed()">Cancel</button>
          <button type="submit" class="btn btn-primary">Create portfolio</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- Delete Portfolio Modal -->
<div class="modal fade" id="deletePortfolioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Delete portfolio?</h5>
        <button type="button" class="close" data-dismiss="modal" id="closeDeleteModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete {{portfolioToDelete.name}} portfolio?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deletePortfolio(portfolioToDelete)">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
